.Comp-SingleDocument {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch; }
  .Comp-SingleDocument .editor-header {
    flex: 30px 0 0; }
  .Comp-SingleDocument .editor-body {
    flex: 100px 1 0;
    display: flex;
    flex-flow: row;
    align-items: stretch; }
  .Comp-SingleDocument .editor-footer {
    background-color: #343a40;
    color: rgba(255, 255, 255, 0.5);
    flex: 30px 0 0; }
