<h1>Password recovery link</h1>

<p>Hello {{username}},<br>to change your current password please follow link below.</p>

<p><a href="{{link}}">Change password</a></p>
<p>Or copy this link to your browser window: <code>{{link}}</code></p>

<p style="font-size: .8em">If your didn't send this request feel free to ignore this email.</p>
