<h1>Welcome {{username}} to Realtime editor</h1>

<p>Start by creating your own  <a href="{{link}}">shared document</a></p>

<p style="font-size: .8em">If your didn't sign up on our site feel free to ignore this email.</p>
