.Comp-RightMenus {
  display: flex; }
  .Comp-RightMenus .menu-icons .menu-icon.active, .Comp-RightMenus .menu-icons .menu-icon:hover, .Comp-RightMenus .menu-icons .menu-icon:active {
    background-color: #ccc; }
  .Comp-RightMenus .menu-content {
    width: 250px; }
